* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: url(../images/skullpointer.png), url(../images/cursor.cur), auto;
}

p, li, a {
  font-family: 'Barrio', cursive;
  text-transform: uppercase;
}

.menubar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 100vh;
  z-index: 99;
}

div.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  width: 30px;
  height: 100vh;
  left: 30px;
  margin: 0px 0px 500px 30px;
}

.vert {
  display: block;
  position: relative;
  width: 7px;
  height: 60px;
  background-color: red;
}

.hor {
  display: block;
  position: relative;
  width: 30px;
  height: 7px;
  bottom: 20px;
  background-color: red;
}

.lvl {
  display: block;
  position: relative;
  width: 50px;
  height: 30px;
  top: 490px;
  font-size: 25px;
  transform: rotate(-90deg);
  color: red;
}

/*PAGE 1*/

#welcome {
  color: red;
  width: 510px;
}

/*PAGE 2*/

#error {
  width: 540px;
  -webkit-animation: error 5s infinite;
  animation: error 3s infinite;
  -webkit-animation-timing-function: cubic-bezier(.8,2,.2,-1);
  animation-timing-function: cubic-bezier(.8,2,.2,-1);
}

@-webkit-keyframes error {
  30% { color: white; }
  60% { color: white; }
  100% { color: black; }
}

@keyframes error {
  30% { color: white; }
  60% { color: white; }
  100% { color: black; }
}

/*PAGE 3*/

#die {
  position: relative;
  left: 240px;
  display: block;
  width: 2000px;
  height: 150px;
  overflow-x: hidden;
  color: red;
  text-align: center;
  line-height: 100px;
}

#textdie {
  color: white;
  width: 650px;
}

/*PAGE 3*/

#first {
  width: 170px;
  height: 250px;
  overflow-x: hidden;
  color: red;
  font-size: 150px;
}

#second {
  width: 170px;
  height: 250px;
  overflow-x: hidden;
  color: red;
  font-size: 150px;
}

#third {
  width: 170px;
  height: 250px;
  overflow-x: hidden;
  color: red;
  font-size: 150px;
}

.third,
.second,
.first {
  top: 170px;
  position: relative;
  width: 150px;
  overflow: hidden;
}

.second {
 right: 0;
}

.first {
  left: 150%;
}

.third {
  right: 150%;
}

div.digits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
}

/*PAGE 4*/

.container {
  text-align: center;
  font-size: 55px;
}

#quote1 {
  color: white;
}

#quote2 {
  position: relative;
  left: 4px;
  color: red;
}

#p1 {
position: relative;
left: -2px;
background: black;
}

#p2 {
  position: relative;
  left: 154px;
  background: black;
  width: 100px;
}

#p3 {
  position: relative;
  left: 83px;
  background: black;
  width: 110px;
}

#p4 {
  position: relative;
  left: 3px;
  background: black;
  width: 160px;
}

#p5 {
  position: relative;
  background: black;
  width: 280px;
}

/*PAGE 5*/

.button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
  height: 150px;
  border: 2px solid red;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-size: 55px;
  color: white;
  /*cursor: url(../images/skullpointer.png), url(../images/cursor.cur), auto;*/
  line-height: 100px;
}

#underbuttonText {
  position: relative;
  top: 20px;
  font-size: 15px;
  color: white;
}

.button:hover {
  background: red;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.content_wrapper {
  position: relative;
  text-align: center;
}

/*PAGE 6*/

#pic {
  background-image: url(../images/skull.png);
  width: 340px;
  height: 390px;
  background-size: cover;
}

/*PAGE 6*/

.move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#orbit1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  right: 130px;
  width: 30px;
  height: 60px;
  border-radius: 50%;
  /*border: 2px solid red;*/
}

#orbit2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  position: relative;
  width: 30px;
  height: 70px;
  border-radius: 50%;
  /*border: 2px solid red;*/
  right: 30px;
  top: 15px;
}

#eye1 {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  -webkit-animation: eye1 4s linear infinite;
  animation: eye1 4s linear infinite;
  -webkit-transform: rotate(45deg) translateX(15px) rotate(-45deg);
  transform: rotate(45deg) translateX(15px) rotate(-45deg);
}

#eye2 {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  position: relative;
  -webkit-animation: eye2 2s linear infinite;
  animation: eye2 2s linear infinite;
  -webkit-transform: rotate(-45deg) translateX(15px) rotate(45deg);
  transform: rotate(-45deg) translateX(15px) rotate(45deg);
}

@-webkit-keyframes eye1 {
  from {  -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg);}
}

@keyframes eye1 {
  from {  -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg);}
}

@-webkit-keyframes eye2 {
  from {  -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg);}
}

@keyframes eye2 {
  from {  -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg);}
}

/*PAGE 7*/

.thumbs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: url(../images/skullpointer2.png), url(../images/cursor2.cur), auto;
  width: 400px;
  height: 400px;
  left: 240px;
}

.text {
  position: absolute;
  top: 50%;
  width: 510px;
  right: 50px;
  color: white;
}

/*PAGE 8*/

#pixels {
  position: relative;
  z-index: 999;
  color: red;
  font-size: 100px;
}
