* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#welcome {
  color: red;
}

#error {
  -webkit-animation: error 5s infinite;
  animation: error 5s infinite;
  animation-timing-function: cubic-bezier(.8,2,.2,-1);
}

@-webkit-keyframes error {
  30% { color: white; }
  60% { color: white; }
  100% { color: black; }
}
@keyframes error {
  30% { color: white; }
  60% { color: white; }
  100% { color: black; }
}

/*PAGE 2*/

#die {
  position: relative;
  left: 240px;
  display: block;
  width: 2000px;
  height: 150px;
  overflow-x: hidden;
  color: red;
  text-align: center;
  line-height: 100px;
}

#textdie {
  color: white;
}

/*PAGE 3*/

.container {
  text-align: center;
  font-size: 55px;
}

#quote1 {
  color: white;
}

#quote2 {
  position: relative;
  left: 5px;
  color: red;
}

#p1 {
position: relative;
background: black;
}

#p2 {
  position: relative;
  left: 156px;
  background: black;
  width: 100px;
}

#p3 {
  position: relative;
  left: 30px;
  background: black;
  width: 110px;
}

#p4 {
  position: relative;
  left: 5px;
  background: black;
  width: 160px;
}

#p5 {
  position: relative;
  background: black;
  width: 280px;
}

/*BUTTON KILL*/

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 150px;
  border: 2px solid red;
  transition: all .4s ease-in-out;
  font-size: 55px;
  color: white;
  cursor: pointer;
  line-height: 100px;
}

#underbuttonText {
  position: relative;
  top: 20px;
  font-size: 15px;
  color: white;
}

.button:hover {
  background: red;
  transition: all .5s ease-in-out;
}

#first {
  width: 170px;
  height: 250px;
  overflow-x: hidden;
  color: red;
  font-size: 150px;
}

#second {
  width: 170px;
  height: 250px;
  overflow-x: hidden;
  color: red;
  font-size: 150px;
}

#third {
  width: 170px;
  height: 250px;
  overflow-x: hidden;
  color: red;
  font-size: 150px;
}

.third,
.second,
.first {
  top: 170px;
  position: relative;
  width: 150px;
  overflow: hidden;
}

.third {
  right: 150%;
}

.second {
 right: 0;
}

.first {
  left: 150%;
}

#pixels {
  position: relative;
  z-index: 999;
  color: red;
  font-size: 100px;
}

#pic {
  background-image: url(../skull.png);
  width: 340px;
  height: 390px;
  background-size: cover;
}

.move {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#orbit1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 120px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*border: 2px solid red;*/
}

#orbit2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*border: 2px solid red;*/
  right: 30px;
  top: 15px;
}

#eye1 {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  animation: eye1 4s linear infinite;
  transform: rotate(45deg) translateX(15px) rotate(-45deg);
}

#eye2 {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  position: relative;
  animation: eye2 2s linear infinite;
  transform: rotate(-45deg) translateX(15px) rotate(45deg);
}

@-webkit-keyframes eye1 {
  from {  -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg);}
}

@keyframes eye1 {
  from {  -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg);}
}

@-webkit-keyframes eye2 {
  from {  -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg);}
}

@keyframes eye2 {
  from {  -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg);}
}
