* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*PAGE 2*/

#die {
  position: relative;
  left: 426px;
  display: block;
  width: 500px;
  height: 50px;
  overflow-x: hidden;
}

/*PAGE 3*/

.container {
  text-align: center;
  font-size: 45px;
}

#quote1 {
  color: black;
}

#quote2 {
  position: relative;
  left: 4px;
  color: red;
}

#p1 {
position: relative;
background: white;
}

#p2 {
  position: relative;
  left: 154px;
  background: white;
  width: 100px;
}

#p3 {
  position: relative;
  left: 30px;
  background: white;
  width: 110px;
}

#p4 {
  position: relative;
  left: 5px;
  background: white;
  width: 160px;
}

#p5 {
  position: relative;
  background: white;
  width: 280px;
}

/*BUTTON KILL*/

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  border: 2px solid red;
  transition: all .5s ease-in-out;
}

#button {
  position: relative;
  font-size: 25px;
}

#underbuttonText {
  position: relative;
  top: 20px;
  font-size: 15px;
}

.button:hover {
  background: red;
  transition: all .5s ease-in-out;
}
