.text_demons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

#demon_text {
  position: relative;
  color: red;
  width: 439px;
  font-size: 50px;
  z-index: 99;
}

.demons {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  /*background: white;*/
}

.eyeballs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

.eyeballs#e1 {
  position: relative;
  right: 30px;
}

.eyeball1,
.eyeball2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  transition: all .9s ease-in-out;
  background-color: black;
}

.eyeballs:hover .eyeball1, .eyeballs:hover .eyeball2 {
  background-color: red;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-property: color;
  transition-duration: 0.6s;
  box-shadow: 1px 1px 10px 4px rgba(255,0,0,1);
}

@media screen and (max-width: 1199px) {
  .eyeballs {
    width: 140px;
    height: 140px;
  }

  .eyeballs#e1 {
    right: 20px;
  }
}

@media screen and (max-width: 1119px) {
  .eyeballs {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 1039px) {
  .eyeballs {
    width: 120px;
    height: 120px;
  }


}

@media screen and (max-width: 959px) {
  .eyeballs {
    width: 110px;
    height: 110px;
  }
}

@media screen and (max-width: 879px) {
  .eyeballs {
    width: 90px;
    height: 90px;
  }
}
