#demon_text {
  position: absolute;
  color: red;
  width: 510px;
  position: absolute;
  color: red;
  width: 439px;
  top: 310px;
  left: 420px;
  font-size: 50px;
}

.demons {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100vh;
  /*background: white;*/
}

.eyeballs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

.eyeballs#e1 {
  position: relative;
  right: 40px;
}

.eyeball1,
.eyeball2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  transition: all .4s ease-in-out;
  background-color: black;
}

.eyeballs:hover .eyeball1, .eyeballs:hover .eyeball2 {
  background-color: red;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-property: color;
  transition-duration: 0.6s;
  box-shadow: 1px 1px 10px 4px rgba(255,0,0,1);
}
