.wrapper {
  position: absolute;
  width: (100vw + 20px);
  overflow: hidden;
  background: black;
  transition: all .3s ease;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  -webkit-perspective: 1px;
  perspective: 300px;
  font-size: 200%;
  width: 1730px;
  width: calc(100vw + 20px);
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -5px;
}

.base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}


.parallax_group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  background: black;
}

/*group1: simple layer, group2: fore-base layer*/

#group1 {
  z-index: 5;
  overflow: hidden;
}

#group2 {
  z-index: 3;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Barrio', cursive;
  font-size: 45px;
  color: white;
}
