.body {
  background: black;
}

.wrapper {
  position: absolute;
  width: 1730px;
  overflow: hidden;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  -webkit-perspective: 1px;
  perspective: 300px;
  font-size: 200%;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -5px;
}

.base {
  transform: translateZ(0);
  z-index: 4;
}

.back {
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.fore {
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}

.deep {
  transform: translateZ(-600px) scale(3);
  z-index: 2;
  left: -8px;
}

.parallax_group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Barrio', cursive;
  font-size: 45px;
  color: white;
}

#group1 {
  z-index: 5;
}

#group2,
#group5,
#group7 {
  z-index: 3;
}

#group3,
#group8 {
  z-index: 4;
}

#group4,
#group6 {
  z-index: 2;
}

#group1 .base {
  background: black;
}

#group2 .back {
  background: black;
}

#group3 .base {
  background: black;
}

#group4 .deep {
  background: black;
}

#group5 .base {
  background: black;
}

#group6 .back {
  background: black;
}

#group7 .base {
  background: black;
}

#group8 .base {
  background: black;
}
